.category {
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: auto;
}

.category img {
    width: 400px;
    height: 400px;
    background-image: url("../SearchPagePics/IphoneCase.jpeg");
    background-position: center;
}