.App {
  text-align: center;
  font-family: 'Marko One', serif;
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.addToCart button{
  color: red;
  padding: 4px 8px;
}

.cardInfo {
  background-color: #322828;
  height: auto;
  width: 500px;
  visibility: visible;
  right: 0;
  position: absolute;
  padding: 20px;
  margin-top: 270px;
}

.signUp {
  background-color: rgb(16, 14, 14);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUpForm {
  opacity: 100%;
  padding: 20px;
  border: rgb(106, 87, 87) 2px solid;
  width: 24%;
  background-color:rgb(1, 1, 1);
  box-shadow: 5px 10px rgb(248, 200, 200);
  border-radius: 20px;
}

.input-form {
  opacity: 100%;
  padding: 10px;
  text-align: left;
  display: grid;
  grid-template-columns: 120px 1fr;
}

.input-form input {
  padding: 4px 8px;
}

.input-form input:focus {
  outline: none;
}

.signUpForm-X {
  display: flex;
  justify-content: right;
}

.input-form-btn {
  margin-top: 10px;
  font-size: 20px;
  border-radius: 10px;
  padding: 2px 12px;
}

.NarBar-userIcon {
  font-size: 40px;
}